%div{ class: "off-canvas" }
  .off-canvas-header header
  .off-canvas-footer footer
  .off-canvas-menu   menu
  .off-canvas-aside  aside

  .off-canvas-main

    %div{ class: "fixed-h" }
      .fixed-h-menu
        menu
      .fixed-h-nav

        %div{ class: "fixed-v" }
          .fixed-v-header
            heaeder
          .fixed-v-nav
            nav
          .fixed-v-footer
            footer
          .fixed-v-body
            body

      .fixed-h-aside
        aside

      .fixed-h-body

        %div{ class: "flex-v" }
          .flex-v-header
            heaeder
          .flex-v-nav
            nav
          .flex-v-body

            %div{ class: "flex-h" }
              .flex-h-menu
                heaeder
              .flex-h-body
                nav

          .flex-v-footer
            footer


