.off-canvas
  .off-canvas-header header
  .off-canvas-footer footer
  .off-canvas-menu   menu
  .off-canvas-aside  aside

  .off-canvas-main

    .fixed-horizontal
      .fixed-horizontal-menu
        menu
      .fixed-horizontal-nav

        .fixed-vertical
          .fixed-vertical-header
            heaeder
          .fixed-vertical-nav
            nav
          .fixed-vertical-body
            body
          .fixed-vertical-footer
            footer

      .fixed-horizontal-aside
        aside

      .fixed-horizontal-body
        .flex-vertical
          .flex-vertical-header
            heaeder
          .flex-vertical-nav
            nav
          .flex-vertical-body
            body
          .flex-vertical-footer
            footer


