// Visibility
%base-bisibility {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  display: none;
}

.visible,
.current {
  visibility: visible !important;
  display: block !important;
  transform: translate3d(0, 0, 0) !important;
}

// Base layout
%stretch {
  position: absolute;
  @if $debugger {
    /* INI: DEBUGGER */
    top:    20px;
    right:   8px;
    bottom:  8px;
    left:    8px;
  }
  @else {
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
  }
}

%scrollable {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // without min-height:0 overflow scrolling doesn't work
  min-height: 0;
}

@if $debugger {
  /* INI: DEBUGGER */
  body > div {
    top:    0 !important;
    right:  0 !important;
    bottom: 0 !important;
    left:   0 !important;
  }
  div {
    & {
      box-shadow: 0 0 0 1px rgba($debugger-color,.5) inset;
      font-size: 0;
      background: rgba($debugger-background,$debugger-opacity);
    }

    &:before {
      content: attr(class);
      position: absolute;
      font-family: monaco;
      font-size: 10px;
      background: $debugger-color;
      padding: 2px 3px 1px;
      top: 0;
      right: 0;
      color: white;
    }

    &:hover {
      background-color: rgba($debugger-active-background,$debugger-active-opacity);
      box-shadow: 0 0 0 1px rgba($debugger-active-color,.8) inset;
      &:before {
        background: $debugger-active-color;
      }
    }
  }
  /* END: DEBUGGER */
}
