// Base positions
%fixed-view   { @extend %stretch; }
%fixed-top    { @extend %stretch; bottom: auto; }
%fixed-left   { @extend %stretch; right:  auto; }
%fixed-bottom { @extend %stretch; top:    auto; }
%fixed-right  { @extend %stretch; left:   auto; }


// Layout Structure
@mixin fixed-vertical-layout($module-config) {

  $module-name: map-get($module-config, name);
  $regions:     map-get($module-config, regions);

  // Contendrá la posición de la region flexible.
  $flex_region_number:       length($regions);
  // Aquí se distribuiran los elementos segun su posición.
  $pre_flex_region_map:      ();
  $post_flex_region_map:     ();

  @each $region_number, $region_values in $regions {

    // Obtener la posición de contenedor flexible.
    $is_flexible: if(map-get($region_values, flexible), true, false);

    // Preparar region para ser agrupada.
    $region_to_merge: ( #{$region_number}: map-deep-get($regions, $region_number) );

    @if ($is_flexible) {
      // Setea el numero del contenedor flexible
      $flex_region_number: $region_number;
    }
    @else {
      // Asignar a cada region a su respectivo grupo
      @if ($region_number < $flex_region_number) {
        $pre_flex_region_map: map-merge($pre_flex_region_map, $region_to_merge);
      }
      @else if ($region_number > $flex_region_number) {
        $post_flex_region_map: map-merge($post_flex_region_map, $region_to_merge);
      }
    }
  }

  @include debug($pre_flex_region_map);
  @include debug($post_flex_region_map);

  // Temporal variables
  $header-size: map-deep-get($regions, 1, size);
  $nav-size:    map-deep-get($regions, 2, size);
  $footer-size: map-deep-get($regions, 4, size);

  // Module definition
  .#{$module-name} {

    $combinations: combine($regions);
    //@include debug($combinations);

    &        { @extend %fixed-view; }
    &-body   { @extend %fixed-view; }
    &-header { @extend %fixed-top;  }
    &-nav    { @extend %fixed-top; }
    &-footer { @extend %fixed-bottom; }

    &-header { height: $header-size; }
    &-nav    { height: $nav-size; }
    &-footer { height: $footer-size; }

    &-header         ~ &-nav  { top:    $header-size; }
    &-header         ~ &-body { top:    $header-size; }
    &-nav            ~ &-body { top:    $nav-size; }
    &-footer         ~ &-body { bottom: $footer-size; }
    &-header + &-nav ~ &-body { top:    $header-size + $nav-size; }
  }

  // Only for debug
  $background: #DDD;

  .#{$module-name} {
    &-header { background-color: lighten($background,12%); }
    &-nav    { background-color: lighten($background,10%); }
    &-body   { background-color: lighten($background, 5%); }
    &-footer { background-color: lighten($background,10%); }
  }

}


// Layout Structure
@mixin fixed-horizontal-layout($module-config) {

  $module-name: map-deep-get($module-config, name);
  $regions:     map-get($module-config, regions);

  // Temporal variables
  $menu-size:   map-deep-get($regions, 1, size);
  $nav-size:    map-deep-get($regions, 2, size);
  $aside-size:  map-deep-get($regions, 4, size);

  // Module definition
  .#{$module-name} {
    &       { @extend %fixed-view; }
    &-body  { @extend %fixed-view; }

    &-menu  { @extend %fixed-left; }
    &-nav   { @extend %fixed-left; }
    &-aside { @extend %fixed-right; }

    &-menu  { width: $menu-size; }
    &-nav   { width: $nav-size; }
    &-aside { width: $aside-size; }

    &-menu         ~ &-nav  { left:  $menu-size; }
    &-menu         ~ &-body { left:  $menu-size; }
    &-nav          ~ &-body { left:  $nav-size; }
    &-aside        ~ &-body { right: $aside-size; }
    &-menu + &-nav ~ &-body { left:  $menu-size + $nav-size; }
  }

  // Only for debug
  $background: #DDD;

  .#{$module-name} {
    &-menu  { background-color: lighten($background,12%); }
    &-nav   { background-color: lighten($background,10%); }
    &-body  { background-color: lighten($background,5%); }
    &-aside { background-color: lighten($background,10%); }
  }

}
