// Base positions
%flex-view {
  @extend %stretch;
  @include display(flex);
  @include align-items(stretch);
  @include justify-content(flex-start);
}
%flex-vertical {
  @extend %flex-view;
  @include flex-direction(column);
}
%flex-horizontal {
  @extend %flex-view;
  @include flex-direction(row);
}
%flex-content {
  @include flex(1);
  position: relative;
}


// Layout Structure
@mixin flex-layout($module-config) {

  // Temporal variables
  $module-name: map-get($module-config, name);
  $layout:      map-get($module-config, layout);
  $regions:     map-get($module-config, regions);

  // Module definition
  .#{$module-name} {
    &       { @extend %flex-#{$layout}; }
    &-body  { @extend %flex-content; }

    @each $region in $regions {
      $region:         nth($region, 2);
      $submodule-name: map-get($region, name);
      $size-value:     map-get($region, size);
      $size-prop:      if($layout == vertical, height, width);

      &-#{$submodule-name} {
        #{$size-prop}: $size-value;
      }
    }

  }

  // Only for debug
  $background: #DDD;

  .#{$module-name} {
    &-header { background-color: lighten($background,12%); }
    &-nav    { background-color: lighten($background,10%); }
    &-body   { background-color: lighten($background, 5%); }
    &-footer { background-color: lighten($background,10%); }
  }

}
