%off-canvas-view   { @extend %fixed-view;   };
%off-canvas-top    { @extend %fixed-top;    };
%off-canvas-left   { @extend %fixed-left;   };
%off-canvas-bottom { @extend %fixed-bottom; };
%off-canvas-right  { @extend %fixed-right;  };

%off-canvas-view   { z-index: layer(current); overflow: hidden; };         //   X     Y   Z
%off-canvas-top    { z-index: layer(front);   @include transform(translate3d(   0, -100%, 0)); };
%off-canvas-right  { z-index: layer(front);   @include transform(translate3d( 100%,   0,  0)); };
%off-canvas-bottom { z-index: layer(front);   @include transform(translate3d(   0,  100%, 0)); };
%off-canvas-left   { z-index: layer(front);   @include transform(translate3d(-100%,   0,  0)); };

%off-canvas-transition { @include transition(transform 300ms); };

// Layout Structure
@mixin off-canvas-layout($module-config) {

  // Temporal variables
  $module-name: map-get($module-config, name);
  $layout:      map-get($module-config, layout);
  $regions:     map-get($module-config, regions);

  // Module definition
  .#{$module-name} {
    @extend %off-canvas-view;

    @each $region in $regions {

      $region:         nth($region, 2);
      $submodule-name: map-get($region, name);
      $off-canvas:     map-get($region, off-canvas);
      $behavior:       map-get($region, behavior);
      $size-value:     map-get($region, size);
      $is-vertical:    ($off-canvas == top) or ($off-canvas == bottom);
      $size-prop:      if($is-vertical, height, width);
      $animate:        if(($behavior == reveal), false, true);

      &-#{$submodule-name} {
        @extend %off-canvas-#{$off-canvas};
        #{$size-prop}: $size-value;
        @if ($behavior == reveal) {
          z-index: layer(back);
        }
        @else if ($behavior == appear) {}
        @else if ($behavior == push)   {}

        @if ($animate == true) {
          @extend %off-canvas-transition;
        }

        @if $debugger {
          /* INI: DEBUGGER */
          @if ($off-canvas == view) {
            margin: $debugger-spacing;
          }
          @else {
            @if $is-vertical {
              margin: 0 $debugger-spacing;
            }
            @else {
              margin: $debugger-spacing 0;
            }
          }
        }

      }

      // Remove it if control this from js
      &-active-#{$submodule-name} {
        .#{$module-name}-#{$submodule-name} {
          @include transform(translate3d( 0, 0, 0));
        }
      }
    }

  }

}
