$animations: (
  reveal,
  push,
  appear,
);

$layouts: (
  vertical,
  horizontal,
  columns,
  stacked,
  off-canvas,
);

$breakpoints: (
  phone:      "",
  tablet:     "",
  laptop:     "",
  desktop:    "",
  cinema:     "",
  mini:       480px,
  small:      768px,
  medium:     992px,
  large:      1200px,
  oversized:  1500px,
  container:  960px,
);

$attributes: (
  scrollable,
  flexible,
);

$off-canvas: (
  position,
  animation,
  target,
);
