/*

.app
  .app-menu
  .app-main
    .app-header
    .app-sections

*/
$app: (

  name: app,

  layout: (
    mobile: off-canvas,
    desktop: horizontal,
  ),

  regions: (

    menu: (
      off-canvas: (
        position: left,
        animation: reveal,
        target: main,
      ),
      layout: vertical,
      regions: (
        brand: (),
        navigation: (
          flexible: true,
        ),
        options: (),
      ),
    ),

    main: (
      flex: true,
      layout: vertical,
      regions: (
        header: (
          show-on: mobile,
        ),
        sections: (
          flex: true,
        ),
      ),
    ),

  ),

);


/*

.section
  .section-aside
    .section-inner

  .section-content
    .section-inner

*/
$section: (

  name: section,

  layout: (
    phone: stacked,
    tablet: horizontal,
  ),

  regions: (
    aside: (
      wrapper: inner,
    ),
    content: (
      flex: true,
      wrapper: inner,
    ),
  ),

);


/*

.panel
  .panel-header
  .panel-nav
  .panel-body
  .panel-footer

*/
$panel: (

  name: panel,
  layout: vertical,

  regions: (

    header: (),

    nav: (),

    body: (
      flex: true,
      scrollable: true,
    ),

    footer: (),
  ),

);


/*

.page
  .page-header
    .page-content

  .page-body
    .page-content

*/
$page: (

  name: page,
  layout: vertical,

  regions: (

    header: (
      wrapper: content,
    ),

    body: (
      flex: true,
      scrollable: true,
      wrapper: content,
    ),

  ),

);
