// Vertical layout
$fixed-vertical: (
  name: fixed-v,
  layout: fixed,
  orientation: vertical,
  regions: (
    (
      name: header,
      size: 50px,
    ),
    (
      name: nav,
      size: 40px,
    ),
    (
      name: body,
      flexible: true,
      scrollable: true,
    ),
    (
      name: footer,
      size: 60px,
    ),
  ),
);

// @include fixed-vertical-layout($fixed-vertical);
@include layout($fixed-vertical);



// Horizontal layout
$fixed-horizontal: (
  name: fixed-h,
  layout: fixed,
  orientation: horizontal,
  regions: (
    (
      name: menu,
      size: 90px,
    ),
    (
      name: nav,
      size: 320px,
    ),
    (
      name: body,
      flexible: true,
      scrollable: true,
    ),
    (
      name: aside,
      size: 200px,
    ),
  ),
);

// @include fixed-horizontal-layout($fixed-horizontal);
@include layout($fixed-horizontal);


// Vertical layout
$flex-vertical: (
  name: flex-v,
  layout: flex,
  orientation: vertical,
  regions: (
    (
      name: header,
      size: 50px,
    ),
    (
      name: nav,
      size: 40px,
    ),
    (
      name: body,
      flexible: true,
      scrollable: true,
    ),
    (
      name: footer,
      size: 60px,
    ),
  ),
);

// @include flex-layout($flex-vertical);
@include layout($flex-vertical);

// Vertical layout
$flex-horizontal: (
  name: flex-h,
  layout: flex,
  orientation: horizontal,
  regions: (
    (
      name: menu,
      size: 100px,
    ),
    (
      name: body,
      flexible: true,
      scrollable: true,
    ),
  ),
);

// @include flex-layout($flex-horizontal);
@include layout($flex-horizontal);


// Vertical layout
$off-canvas: (
  name: off-canvas,
  layout: off-canvas,
  regions: (
    1: (
      name: main,
      off-canvas: view,
    ),
    2: (
      name: header,
      off-canvas: top,
      size: 100px,
      behavior: reveal,
    ),
    3: (
      name: footer,
      off-canvas: bottom,
      size: 200px,
    ),
    4: (
      name: menu,
      off-canvas: left,
      size: 320px,
    ),
    5: (
      name: aside,
      off-canvas: right,
      size: 550px,
    ),
  ),
);

// @include off-canvas-layout($off-canvas);
@include layout($off-canvas);
