/*

.panel
  .panel-header
  .panel-nav
  .panel-body
  .panel-footer

*/

$cross-browser-support: true;

$panel: (

  name: panel,
  layout: vertical,

  regions: (

    header: (
      height: 50px,
    ),

    nav: (
      height: 40px,
    ),

    body: (
      flexible: true,
      scrollable: true,
    ),

    footer: (
      height: 60px,
    ),
  ),

);

// @include layout($app);
// @include view($section);
@include view($panel);
// @include view($page);
